.title {
  border-bottom: none;
  text-align: center;
}
#api-overview {
  text-transform: lowercase;
}
h1.command {
  text-transform: lowercase;
  display: inline;
  font-size: 36px;
  font-weight: 300;
}
.header {
  font-size: 36px;
  text-align:center;
  margin-bottom: 20px;
}
ul ul {
  margin-top: 13px;
  margin-bottom: 13px;
}
.updated {
  color: #777;
  font-style: italic;
  font-weight: 400;
}
.parameter .param {
  color: #333;
  display: block;
  font-weight: 700;
  padding-left: 15px;
}
.parameter .param span {
  color: #999;
  display:block;
  font-weight:400;
}
pre.example {
  background-color: #F8F4E7;
  padding: 15px;
  white-space: pre;
  overflow-x: auto;
  max-height: 425px;
}
img.example {
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px 4px 4px 4px;
  background-color: #F8F4E7;
  padding: 5px;
}
tr.parameter {
  border-bottom: 1px solid #DDD;
}
.none {
  list-style: none;
  margin-left: 0;
}
tt {
  color: #990000;
  font-size: 14px;
  line-height: 21px;
}
span.default {
  color: #00C;
}
span.api {
  color: #A00;
}
span.cmd {
  color: #00A;
}
span.arg {
  color: #060;
}
span.opt {
  color: #CC6200;
}
span.version {
  color: #444;
}
.accordion-group {
  background-color: #fff;
}
.accordion-body {
  background-color: #F8F4E7;
}
.detail {
  list-style: circle;
  margin-left: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
  color: #333;
}

ul.output {
  margin-bottom: 0;
  border-bottom: 0;
  padding-left: 15px;
}
ul.output li.active a {
  background-color:#F8F4E7;
}
ul.output li.active:hover a {
  background-color:#F8F4E7;
}

body {
  background: url("../img/bg.png") repeat scroll 0 0 transparent;
}
.content {
  padding: 25px;
  background-color: #fff;
  border: 1px solid #ccc;
}

a.headerlink {
  visibility: hidden;
  color: #ccc;
  margin-left: 6px;
  padding: 0 4px;
  text-decoration: none;
}
a.headerlink:hover {
  color: #0088CC;
}
h1:hover > a.headerlink {
  visibility: visible;
}
